[submodule "third_party/nanopb"]
	path = third_party/nanopb
	url = https://github.com/nanopb/nanopb.git
	ignore = dirty
[submodule "third_party/flatcc"]
	path = third_party/flatcc
	url = https://github.com/dvidelabs/flatcc.git
	ignore = dirty
